<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Carlos Ognissanti's Morse App</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="https://github.com/Yuki44/Morse-App.git">GitHub Repo</a>
          </nav>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading"></h1>
        <h1 class="display-4 font-weight-bold text-dark">Welcome to Morse App!</h1>
        <p class="lead text-center text-success" data-html="false" style="font-size: 22px;
    letter-spacing: 2px;">Morse code is a method of sending text messages by keying in a series of electronic pulses,
          usually represented as a short pulse (called a "dot") and a long pulse (a "dash")</p>
        <button class="btn btn-lg btn-success" (click)="seeMessages()" type="button">Try it out!</button>
      </div>
    </div>
  </div>
</div>
</body>
